{% extends 'homepage/main.html' %}

{% block content %}

{% load static %}

<!--Course details-->
<div class="course-row"></div>

    <div class="card text-center mb-5 text-white" id="course-details">
        <div class= "card-header">
            <h2 class="card-title">{{ course.course_name }}</h2>
        </div>
        <div class="card-body">
            <p>{{ course.course_description }}</p>
            <p><b>Prerequisites:</b> {{ course.prerequistes_description }}</p>
            <p><b>Corequisites:</b> {{ course.corequisites_description }}</p>
            <p><b>Number of Credits:</b> {{ course.number_of_credits }}</p>
        </div>
    </div>

</div>

<!--prereq-->
<div class="course-row">

    <div class="course-col">
        <div class="card text-center mb-3" id="prereq">
            <div class= "card-header">
                <h3 class="card-title">Course Grade Profile</h3>
            </div>
            <div class="card-body">
                <h3 class="grade-info">
                    <span class="info-key">Historic Average:</span>
                    <span class="info-details">{{ course.average|floatformat:"2" }}</span>
                </h3>
                <h3 class="grade-info">
                    <span class="info-key">Average (Past 5 Years):</span>
                    <span class="info-details">{{ course.five_year_average|floatformat:"2" }}</span>
                </h3>
                <h3 class="grade-info">
                    <span class="info-key">Standard Deviation:</span>
                    <span class="info-details">{{ course.standard_deviation|floatformat:"2" }}</span>
                </h3>
            </div>
        </div>
    </div>

    <!--ratemyprof-->
    <div class="course-col">
        <div class="card text-center mb-3" id="rmp">
            <div class="card-header">
                <h3 class="card-title">Course Professor</h3>
            </div>
            <div class="card-body">
        
            </div>
        </div>
    </div>

    <!-- Grade Distribution Chart-->
    <div class="course-col">
        <div class="card text-center mb-3">
            <div class= "card-header">
                <h3 class="card-title">Course Grade Distribution for {{ course.distribution_term }}</h3>
            </div>
            <div class="card-body">
                <!--grade distribution-->
                {% include 'coursetracker/chart.html' with chartData=course.distribution %}
            </div>
        </div>
    </div>

</div>

<div class="course-row"></div>

    <div class="card text-center mb-5 text-white" id="course-details">
        <div class= "card-header">
            <h2 class="card-title">Prerequisite Tree</h2>
        </div>
        <div class="card-body">
            
        </div>
    </div>

<br>

{% endblock %}

