{% extends 'homepage/main.html' %}

{% block content %}

{% load static %}

<!--Course details-->
<div class="course-row"></div>

    <div class="card text-center mb-5 text-white" id="course-details">
        <div class= "card-header">
            <h2 class="card-title">{{ course.course_name }}</h2>
        </div>
        <div class="card-body">
            <p>{{ course.course_description }}</p>
            <p><b>Prerequisites:</b> {{ course.prerequistes_description }}</p>
            <p><b>Corequisites:</b> {{ course.corequisites_description }}</p>
        </div>
    </div>

</div>

<!--prereq-->
<div class="course-row">
    <div class="course-col">
        <div class="card text-center mb-3" id="prereq">
            <div class= "card-header">
                <h3 class="card-title">Course Profile</h3>
            </div>
            <div class="card-body-scroll">
                <h3 class="grade-info">
                    <span class="info-key">Average (Past 5 Years):</span>
                    <span class="info-details">{{ course.five_year_average|floatformat:"2" }}</span>
                </h3>
                <h3 class="grade-info">
                    <span class="info-key">Standard Deviation:</span>
                    <span class="info-details">{{ course.standard_deviation|floatformat:"2" }}</span>
                </h3>

                <h3 class="grade-info">
                    <span class="info-key">Highest Historical Section Average:</span>
                    <span class="info-details">{{ course.highest_average|floatformat:"2" }}</span>
                </h3>

                <h3 class="grade-info">
                    <span class="info-key">Lowest Historical Section Average:</span>
                    <span class="info-details">{{ course.lowest_average|floatformat:"2" }}</span>
                </h3>

                <h3 class="grade-info">
                    <span class="info-key">Credits:</span>
                    <span class="info-details">{{ course.number_of_credits }}</span>
                </h3>
            </div>
        </div>
    </div>

    <!--ratemyprof-->
    <div class="course-col">
        <div class="card text-center mb-3" id="rmp">
            <div class="card-header">
                <h3 class="card-title">Course Professors</h3>
            </div>
            <div class="card-body-scroll">
                {% for name, rating, numratings, sectionstaught in professors_info %}
                <div class="course-row">
                    <h3 class="grade-info">
                        <span class="info-name">{{ name }}</span>
                    </h3>
                    <h3 class="grade-info">
                        <span class="info-key">Overall Rating:</span>
                        <span class="info-details">{{ rating }}</span>
                    </h3>
                    <h3 class="grade-info">
                        <span class="info-key">Number of Ratings:</span>
                        <span class="info-details">{{ numratings }}</span>
                    </h3>
                    <h3 class="grade-info">
                        <span class="info-key">Sections Taught from 2016-2018:</span>
                        {% if sectionstaught|length %}
                            {% for section in sectionstaught %}
                                <p> {{ section }}, </p>
                            {% endfor %}
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="course-col">
        <div class="card text-center mb-3">
            <div class= "card-header">
                <h3 class="card-title">Course Grade Distribution for {{ course.distribution_term }}</h3>
            </div>
            <div class="card-body">
                <!--grade distribution-->
                {% include 'coursetracker/chart.html' with chartData=course.distribution %}
            </div>
        </div>
    </div>

</div>
</div>

<br>

{% endblock %}
