{% load static %}
<script src="{% static '/homepage/tree.js' %}" type="text/javascript"></script>
<div class="tree">
  <ul>
    {% for key, value in preq.items %}
      <li>
        <a href="{{ key }}" tree-node> {{ key }} </a>
        <div class="button" button>Button</div>
        <div class="dropdown-content" dropdown>
        {% if value|length %}
          <ul>
            {% include 'coursetracker/tree.html' with preq=value %}
          </ul>
        {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>