<!--Credits Page linked from homepage-->

<div>
    <p>
        This project won first place at OakHacks 2020 and has since been maintained and streamlined by the original
        creators.
        Below you will find the public repository for this project as well as the links to the APIs that were used in
        this project.
    </p>
    <a href="https://github.com/patrick-5546/ubc-course-explorer/wiki" target="_blank">Github</a>
</div>

<!--Creditation links-->
<div>
    <ul>
        <li>
            <a href="https://ubcgrades.com/" target="_blank">UBC Grades API</a>
        </li>
        <li>
            <a href="https://www.ratemyprofessors.com/campusRatings.jsp?sid=1413" target="_blank">RateMyProfessors
                API</a>
        </li>
    </ul>
</div>