{% extends 'homepage/main.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>UBC Path Explorer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/search.css' %}" />
</head>

<body>
    <div class="welcome">
        <h1 class="welcome-title">Explore your passion</h1>
    </div>

    <form class="form-inline wrapper" method="get" action="{% url 'coursetracker:search' %}">
        <input type="text" class="input" placeholder="Explore courses" aria-label="Search" name="find" required />
        <button class="searchbtn" type="submit"><i class="fas fa-search"></i></button>
    </form>

    <div class="footer">
        <p class="footertext">
            <a href="credits/">
                Credits and About Us
            </a>
        </p>
    </div>

</body>

</html>

{% endblock %}